<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefautConnectionString" connectionString="server=localhost;userid=root;pwd=123456;port=3358;database=NightSystem;sslmode=none;" providerName="MySql.Data.MySqlClient"/>
    <add name="MySqlConStr1" connectionString="server=localhost;userid=root;pwd=123456;port=3358;database=NightSystem;sslmode=none;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MaxCount" value="100"/>
  </appSettings>
</configuration>